    <div class="page-width policy-page">
    <div class="heading">
        <h2>Privacy Policy</h2>
    </div>
    <div class="body-section">
        <h3>
        Velura will only collect the essential, crucial personal information
        required to ensure the safe delivery of the products you purchase from us.
        </h3>
        <div class="text-black">
        <h3 class="text-black">
            We will never share this information with anyone except for specific
            critical reasons such as:
        </h3>
        <ul>
            <li>
            Your contact details will be provided to the courier company or postal
            service for order delivery.
            </li>
            <li>
            When making purchases on our website, you will be directed to our
            payment gateway partner to facilitate electronic payments. They will
            collect the necessary information for payment processing.
            </li>
        </ul>
        <h3 class="text-black">
            To understand the details of what information we collect from you and
            how we use it, it's important for you to read the rest of this policy.
        </h3>

        <h3>1. Personally Identifiable Information (PII) Collection</h3>
        <em>
            We gather personally identifiable information (PII) necessary for order
            delivery when you create a free account with us. This information
            includes:
        </em>
        <ul>
            <li>Name and salutation</li>
            <li>Shipping address</li>
            <li>Billing address</li>
            <li>Mobile number</li>
            <li>Email ID</li>
        </ul>
        <em>
            While you can browse our website or read our blog without providing PII,
            it is required when making product purchases through our website. Once
            you start purchasing our products, your order history is also stored by
            us.
        </em>

        <h3>2. Other Information Collected</h3>
        <em>
            First, let's talk about web "cookies." A cookie is a text file
            containing small pieces of information stored by your web browser on
            your computer. Cookies serve three important purposes:
        </em>
        <ul>
            <li>
            <span>To complete your shopping transaction:</span> Without cookies,
            the shopping cart software won't function correctly, and you won't be
            able to purchase our products.
            </li>
            <li>
            <span>To run analytics programs:</span> We aim to constantly improve
            our website to better serve you. One way is by using an analytics
            program that uses cookies to gather information such as your IP
            address, browser, time spent on the website, and pages visited. The
            data provided by the analytics service is held in strict confidence by
            us.
            </li>
            <li>
            <span>Social media:</span>We use social media to connect with you and
            help you get to know us better. These social media tools may set
            cookies through your web browser. For example, we have a page at
            www.facebook.com/kryagoodies. To learn more about their privacy
            policy, please visit http://www.facebook.com/policy.
            </li>
        </ul>
        <h3 class="text-black">
            Turning off cookies: By default, most browsers allow websites to set
            cookies. You can use your browser settings to disable cookies. However,
            this may affect your experience on our website.
        </h3>

        <h3>3. Information Disclosure</h3>
        <em>
            We handle your Personally Identifiable Information (PII) with the utmost
            care, treating it as we would our own personal information. As mentioned
            earlier, there are critical situations in which we need to disclose your
            PII:
        </em>
        <ul>
            <li>
            <span>Delivering your order:</span> When you place an order with us,
            we provide your order details and contact information to our logistics
            partner, who then delivers our products to your doorstep.
            </li>
            <li>
            <span>Electronic payment processing:</span> The final step in
            purchasing a product on our website is payment processing. We have
            partnered with Razorpay Software Private Limited and PayU Payments
            Private Limited, two reputable companies, to process electronic
            payments on our behalf. During the processing step, you will be
            redirected to their respective websites, where personal information
            critical for processing your order will be collected. They adhere to
            the best data security standards as outlined by the Payment Card
            Industry (PCI).
            </li>
            <li>
            <span>Fraud prevention:</span> Where required by law, we will disclose
            personal information as binding on us. In cases where we suspect abuse
            of our site, fraud, or illegal usage, we or our payment processing
            partners may need to disclose personal information solely for the
            purposes of fraud protection and risk reduction.
            </li>
        </ul>

        <h3>4. Information Use</h3>
        <em>We collect information for the following reasons:</em>
        <ul>
            <li>Internal record-keeping</li>
            <li>To enhance our products and services.</li>
            <li>
            To periodically send promotional emails about new products, special
            offers, or other information we believe you may find interesting using
            the email address you provided.
            </li>
            <li>
            Occasionally, we may contact you for market research purposes via
            email, phone, fax, or mail. We may use the information to customise
            the website according to your interests.
            </li>
        </ul>

        <h3>5. Links to Other Websites</h3>
        <p>
            Our website, social media pages, and blog may contain links to other
            websites of interest. However, once you use these links to leave our
            site, please note that we have no control over those other websites.
            Consequently, we cannot be responsible for the protection and privacy of
            any information you provide while visiting such sites, as they are not
            governed by this privacy statement. Exercise caution and review the
            applicable privacy statement of the website in question.
        </p>
        <p>
            It is our responsibility to inform you that we reserve the right to
            modify this privacy policy at any time without prior notice. We also
            encourage you to periodically check this privacy policy for changes.
            However, as responsible individuals, we will strive to notify you of
            major policy changes through our blog or other social media channels.
        </p>

        <h3>6. Security</h3>
        <p>
            We are dedicated to ensuring the security of your information. To
            prevent unauthorised access or disclosure, we have implemented
            appropriate physical, electronic, and managerial procedures to safeguard
            and secure the information we collect online.
        </p>
        </div>
    </div>
    </div>
