<div class="page-width policy-page">
    <div class="heading">
        <h2>Return and Refund Policy</h2>
    </div>
    <div class="body-section">
        <h3>
        This Return and Refund Policy, along with the Terms of Use, outlines
        Velura's procedures and policies regarding accepting product returns once
        a product has been delivered to a user following a purchase from the
        platform. Velura's goal is to ensure user satisfaction. The terms and
        restrictions outlined in this Return and Refund Policy will apply to any
        product returns made by users.
        </h3>
        <h3>
        The rules of this return and refund policy must be read and understood by
        users. You are encouraged not to accept the Terms of Use and may
        immediately quit using the platform if you do not agree to the terms
        stated in this Return and Refund Policy. By submitting a request to
        purchase a product on the platform, you agree to be bound by the terms
        stated in this Return and Refund Policy, which will be accepted without
        alteration. Velura retains the right, at any time and without previous
        notification to the user, to modify and enforce this return and refund
        policy.
        </h3>
        <div class="text-black">
        <h3 class="text-black">Terms of Return and Refund Policy</h3>
        <ul>
            <li>You have 7 days after receiving your item to request a return.</li>
        </ul>
        <h3 class="text-black">Eligibility for Returns</h3>
        <ol>
            <li>The item must be in the same condition that you received it.</li>
            <li>It must be unworn or unused, with all tags attached.</li>
            <li>The item must be in its original packaging.</li>
            <li>You will also need to provide the receipt or proof of purchase.</li>
        </ol>
        <h3 class="text-black">How to Initiate a Return</h3>
        <ol>
            <li>To start a return, please contact us at info@veluraindia.com.</li>
            <li>
            Returns should be sent to the following Postal Address:  V M Organics,
            Rani Nagar, Amroha, Uttar Pradesh, Pincode-244221
            </li>
            <li>
            Please note that returns will need to be sent to the specified
            address. If your return is accepted, we’ll provide you with a return
            shipping label, along with instructions on how and where to send your
            package. Items sent back to us without first requesting a return will
            not be accepted
            </li>
        </ol>
        <h3 class="text-black">Damages and Issues</h3>
        <ol>
            <li>
            Please inspect your order upon reception. If the item is defective,
            damaged, or if you receive the wrong item, contact us immediately
            at vmorganics@veluraindia.com so that we can evaluate the issue and
            make it right.
            </li>
        </ol>
        <h3 class="text-black">Exceptions / Non-Returnable Items</h3>
        <ol>
            <li>
            Certain types of items cannot be returned, including:
            <ol type="a" start="1">
                <li>
                Custom products (e.g., special orders or personalized items)
                </li>
                <li>Personal care goods (e.g., beauty products)</li>
            </ol>
            </li>
            <li>
            Please reach out to us if you have questions or concerns about your
            specific item. Unfortunately, we cannot accept returns on sale items
            or gift cards.
            </li>
        </ol>
        <h3 class="text-black">Exceptions / Non-Returnable Items</h3>
        <ol>
            <li>
            Certain types of items cannot be returned, including:
            <ol type="a" start="1">
                <li>
                Custom products (e.g., special orders or personalized items)
                </li>
                <li>Personal care goods (e.g., beauty products)</li>
            </ol>
            </li>
            <li>
            Please reach out to us if you have questions or concerns about your
            specific item. Unfortunately, we cannot accept returns on sale items
            or gift cards.
            </li>
        </ol>
        <h3 class="text-black">Exchanges</h3>
        <ol>
            <li>
                The fastest way to ensure you get what you want is to return the item you have. Once the return is accepted, you can make a separate purchase for the new item.
            </li>
        </ol>
        <h3 class="text-black">Refunds</h3>
        <ol>
            <li>
                Once we receive and inspect your return, we will notify you of the approval or rejection of your refund. If approved, you will be automatically refunded on your original payment method within 7-10 business days. Please note that it may take additional time for your bank or credit card company to process and post the refund.
            </li>
            <li>
                If more than 15 business days have passed since we approved your return, please contact us info@veluraindia.com.
            </li>
        </ol>
        <h3 class="text-black">Contact Us</h3>
        <ol>
            <li>
                For any questions regarding your return, please contact us at:
            </li>
            <li>
                Email: info@veluraindia.com.
            </li>
            <li>
                Thank you for choosing Velura (V M Organics)! We appreciate your business and are here to assist you with any questions or concerns.
            </li>
        </ol>




        </div>
    </div>
</div>
