<div class="page-width policy-page">
    <div class="heading">
        <h2>Shipping & Return Policy</h2>
    </div>
    <div class="body-section">
        <p>
        At Velura, we are committed to delivering your orders as efficiently and
        securely as possible. Here are the details of our shipping policy:
        </p>
        <div class="text-black">
        <ol>
            <li>
            <b>Order Processing:</b> We strive to process your orders promptly.
            Once you place an order on our website, please allow up to 2 business
            days for order processing.
            </li>
            <li>
            <b>Delivery Time:</b> The delivery time may vary depending on your
            location. Generally, orders are delivered within 7 to 10 business days
            from the date of order confirmation. However, please note that
            delivery times may be subject to change due to unforeseen
            circumstances or events beyond our control.
            </li>
            <li>
            <b>Shipping Charges:</b> We offer free shipping on all orders within
            India.
            </li>
            <li>
            <b>Tracking Your Order:</b> Once your order is shipped, you will
            receive an email with tracking information so you can monitor the
            progress of your delivery.
            </li>
            <li>
            <b>Damaged or Lost Items:</b> In the unlikely event that your order
            arrives damaged or is lost during transit, please contact our customer
            support team at [customer support email] within 15 days of placing
            your order. We will initiate an investigation and work to resolve the
            issue promptly.
            </li>
        </ol>
        <h3>Return Policy:</h3>
        <p>
            We want you to be completely satisfied with your purchase from Velura.
            Here's our return policy:
        </p>
        <ol>
            <li>
            <b>Eligibility for Returns:</b> Returns can only be accepted under the
            following circumstances:
            <ul>
                <li>
                <b>Damaged Products:</b> If you receive a product that is damaged
                during transit, please contact us within 15 days of placing your
                order. We will require you to provide a video showing the damaged
                packaging to initiate the return process.
                </li>
                <li>
                <b>Expired Products:</b> If you receive products that have
                expired, please contact us within 15 days of placing your order.
                We will require you to provide a video showing the expiry date on
                the product packaging.
                </li>
                <li>
                <b>Spillage:</b> In the event of a spillage during transit, please
                contact us within 15 days of placing your order. We will require
                you to provide a video showing the spillage and damaged packaging.
                </li>
            </ul>
            </li>
            <li>
            <b>How to Initiate a Return:</b> To initiate a return, please follow
            these steps:
            <ul>
                <li>
                Contact our customer support team at [customer support email]
                within 15 days of placing your order and provide them with the
                necessary details.
                </li>
                <li>
                Include a video showing the damaged or expired product and its
                packaging.
                </li>
                <li>
                Our team will review your request and provide instructions on
                returning the product.
                </li>
            </ul>
            </li>
            <li>
            <b> Refund or Replacement:</b> Based on your preference and product
            availability, we will offer either a refund or a replacement for the
            damaged, expired, or spilt product.
            </li>
            <li>
            <b>Return Shipping:</b> We will arrange for the return shipping of the
            product in cases of damage, expiration, or spillage. You will not be
            responsible for any return shipping costs.
            </li>
            <li>
            <b>Refund Processing:</b> Refunds will be processed within 7-10
            business days after we receive and inspect the returned product.
            </li>
        </ol>

        <p>
            Please note that we are unable to accept returns for reasons other than
            those mentioned above. We recommend reviewing the product details,
            including ingredients and usage instructions, before making your
            purchase.
        </p>

        <p>
            If you have any questions or concerns about our shipping and return
            policy, please feel free to reach out to our customer support team at:
        </p>

        <ul>
            <li><span>Phone Number:</span> +91 9457652222 /</li>
            <li><span>Email Address:</span> info@veluraindia.com</li>
        </ul>

        <p>
            Your satisfaction is important to us, and we are here to assist you.
        </p>
        </div>
    </div>
</div>
