<div class="page-width policy-page">
  <div class="heading">
    <h2>Terms & Conditions</h2>
  </div>
  <div class="body-section">
    <p>
      Welcome to Velura's website. By continuing to browse and use this website,
      you are agreeing to abide by the terms and conditions outlined in this
      agreement, collectively referred to as the "agreement." This agreement, in
      conjunction with our privacy policy, delivery policy, cancellation,
      refunds, and replacement policy, governs the relationship between Velura
      and you in relation to this website.
    </p>
    <div class="text-black">
      <h3>Definitions</h3>
      <ul>
        <li>
          <b>‘Agreement’</b> refers to the terms and conditions set forth in
          this document, including any schedules, appendices, annexures, and
          privacy policies. It also includes any references to this Agreement as
          it may be updated, modified, supplemented, or replaced, as needed.
        </li>
        <li>
          or the <b>‘Site’</b> refers to the Velura-owned online shopping portal
          that gives customers the option to purchase the goods that are
          advertised there.
        </li>
        <li>
          <b>‘Customer’ or ‘Buyer’</b> refers to the individual or any legal
          entity that places an order for and/ or buys any products offered for
          sale on the website to accept the offer for sale.
        </li>
        <li>
          <b>‘User’ or ‘You’</b> refers to you and/or any other person or entity
          that uses or accesses the services provided on this website, including
          affiliates, sellers, vendors, and other individuals.
        </li>
      </ul>
      <h3>Eligibility</h3>
      <p>
        To use this website and make purchases from us, you must be at least 18
        years old or visiting the website under the supervision of a parent or
        guardian. You must also be eligible to enter into a legally binding
        contract as per the Indian Contract Act 1872.
      </p>
      <p>
        If you are registering as a business entity, you confirm that you have
        the authority to bind the entity to this User Agreement.
      </p>
      <h3>You also agree and confirm:</h3>

      <ul>
        <li>
          To provide accurate, current, and complete information about yourself
          as prompted by the registration forms on Velura.
        </li>
        <li>
          To promptly update any changes to your registration information to
          keep it accurate, current, and complete.
        </li>
        <li>
          If Velura has reasonable doubts about the accuracy, currency, or
          compliance of your information with the User Agreement, Velura
          reserves the right to indefinitely suspend or terminate your account
          and deny you access to the site.
        </li>
      </ul>
      <h3>Your Account</h3>
      <p>
        Upon completing the website's registration process, you will receive a
        password and account designation. You are responsible for maintaining
        the confidentiality of your account and password created on Velura.
        Furthermore, you are responsible for restricting access to your computer
        and for all activities conducted using your account and/or password.
      </p>
      <h3>Links</h3>
      <p>
        This website may contain links to other websites for your convenience
        and additional information. These links do not constitute an endorsement
        of those websites by Velura. Velura bears no responsibility for the
        content of linked websites.
      </p>

      <h3>Credit Card Information</h3>
      <p>
        By providing credit card details for purchasing products on Velura, you
        affirm that the provided credit card details are correct and lawfully
        owned by you.
      </p>

      <h3>Sale in India Only</h3>
      <p>
        The products and materials presented on www.simplykids.com are intended
        for sale in India only. Users accessing this website from outside India
        do so at their own discretion, and Velura is not responsible for
        compliance with the laws of any country other than India.
      </p>
      <h3>Site Security</h3>
      <p>
        You are prohibited from violating or attempting to violate the security
        of the site. This includes but is not limited to, activities such as:
      </p>
      <ul>
        <li>
          Unauthorized access to data not intended for you or logging onto a
          server or account without authorisation.
        </li>
        <li>
          Attempting to probe, scan, or test the vulnerability of a system or
          network or to breach security measures without proper authorisation.
        </li>
        <li>
          Attempting to interfere with service to any other user, host, or
          network, including, without limitation, via means of submitting a
          virus to the site, overloading, "flooding," "spamming,"
          "mail-bombing," or "crashing."
        </li>
        <li>
          Sending unsolicited emails, including promotions and/or advertising of
          products or services.
        </li>
        <li>
          Forging any TCP/IP packet header or any part of the header information
          in any email or newsgroup posting.
        </li>
      </ul>

      <p>
        Violations of site security may result in civil or criminal liability.
        You agree not to use any device, software, or routine to interfere or
        attempt to interfere with the proper functioning of this site or any
        activity conducted on this site. You also agree not to use any device or
        mechanism, including browsers, spiders, robots, avatars, or intelligent
        agents, to navigate or search this site, except for the search engine
        and search agents provided by Velura on this site or generally available
        third-party web browsers.
      </p>

      <h3>Trademarks and Copyrights</h3>
      <p>
        All material on this site, including images, illustrations, audio clips,
        and video clips, is protected by copyrights, trademarks, and other
        intellectual property rights owned and controlled by Velura or other
        parties that have licensed their material to Velura. Material on the
        Velura website is intended solely for personal, non-commercial use. You
        may not copy, reproduce, republish, upload, post, transmit, or
        distribute such material in any manner, whether directly or indirectly,
        including via email or other electronic means, unless expressly
        permitted. Without the prior written consent of the owner, modifying the
        materials, using the materials on another website or networked computer
        environment, or using the materials for any purpose other than personal,
        non-commercial use is a violation of copyrights, trademarks, and other
        proprietary rights and is prohibited. Any use for which compensation is
        received, whether monetary or otherwise, constitutes commercial use
        under this clause.
      </p>

      <h3>Product Details and Colors</h3>
      <p>
        While we have made every effort to accurately display the colours and
        textures of our products on the site, the actual colours you see may
        vary depending on your monitor. We cannot guarantee that your monitor's
        display of any colour or texture will be completely accurate.
      </p>

      <h3>Limitation of Liability and Disclaimers</h3>
      <p>
        The site is provided "as is" without any warranties or guarantees. You
        assume all risks associated with using the site.
      </p>
      <p>
        The site may provide content from other internet sites or resources, and
        while Velura strives to ensure the accuracy and quality of such
        material, it cannot be held responsible if this is not the case. Velura
        will not be responsible for any errors or omissions or for any technical
        issues you may encounter while using the site.
      </p>

      <p>
        This disclaimer does not affect any product warranty offer specified in
        the product specifications. To the fullest extent permitted under
        applicable law, Velura or its suppliers shall not be liable for any
        indirect, incidental, special, consequential, or exemplary damages,
        including but not limited to damages for loss of profits, goodwill, use,
        data, or other intangible losses arising out of or in connection with
        the site, its services, or this User Agreement.
      </p>

      <p>
        Without limiting the generality of the section above, the total
        liability of Velura to you for all liabilities arising out of this User
        Agreement, whether in tort or contract, is limited to the value of the
        product you ordered. Velura, its associates, and technology partners
        make no representations or warranties regarding the accuracy,
        reliability, completeness, timeliness, and/or currentness of any
        content, information, software, text, graphics, links, or communications
        provided on or through the use of the site. Additionally, Velura assumes
        no liability for any monetary or other damage suffered by you due to the
        delay, failure, interruption, or corruption of any data or other
        information transmitted in connection with the use of the site and/or
        any interruption or errors in the operation of the site.
      </p>

      <h3>Modification</h3>
      <p>
        Velura reserves the right to modify this website and these terms and
        conditions at any time without prior notice.
      </p>
      <h3>Entire Agreement</h3>
      <p>
        This Agreement, along with any operating rules for the website
        established by Velura, constitutes the entire agreement between the
        parties concerning the subject matter hereof.
      </p>

      <h3>Contents Posted on Site</h3>
      <p>
        You are responsible for any content you post or transmit to the site,
        including notes, reviews, messages, emails, photos, profiles, opinions,
        ideas, images, videos, audio files, or other materials or information
        (collectively, "Content"). Subject to our Privacy Policy, Velura may use
        the Content or any of its elements for various purposes, including
        promotional and advertising purposes, across different media, including
        the creation of derivative works that may include the Content you
        provide. You acknowledge that any Content you post may be used by
        Velura, as permitted by our Privacy Policy and Rules of Conduct on the
        Site, and you are not entitled to any payment or compensation for such
        use.
      </p>
      <h3>Rules of Conduct on Velura</h3>
      <p>You may not use the site for any of the following purposes:</p>
      <ol>
        <li>
          Disseminating unlawful, harassing, libellous, abusive, threatening,
          harmful, vulgar, obscene, or otherwise objectionable material.
        </li>
        <li>
          Transmitting material that encourages conduct resulting in civil
          liability, breaches relevant laws or regulations, constitutes a
          criminal offence or otherwise violates the code of conduct.
        </li>
        <li>Gaining unauthorised access to other computer systems.</li>
        <li>Interfering with another person's use or enjoyment of the site.</li>
        <li>Breaching applicable laws.</li>
        <li>
          Interfering or disrupting networks or websites connected to the site.
        </li>
        <li>
          Making, transmitting, or storing electronic copies of materials
          protected by copyright without the permission of the owner.
        </li>
      </ol>

      <h3>Severability</h3>
      <p>
        If any provision of this Agreement is held invalid by a court of competent jurisdiction, such invalidity shall not affect the enforceability of any other provisions contained in this Agreement, and the remaining portions of this Agreement shall continue in full force and effect.
      </p>

      <h3>
        Headings
      </h3>
      <p>
        The section headings used herein are for convenience only and shall have no legal force or effect.
      </p>

<h3>Termination
</h3>
<p>
    This User Agreement remains in effect unless terminated by either you or Velura. You may terminate this User Agreement at any time by discontinuing your use of the site. Velura may terminate this User Agreement at any time without prior notice and may deny you access to the site. Such termination will not cancel your obligation to pay for products already ordered from the Website or affect any liability arising under the User Agreement.

</p>

<h3>Indemnification
</h3>
<p>
    You agree to indemnify, defend, and hold Velura, its affiliates, and any of its or their directors, employees, suppliers, and partners harmless from and against any and all claims, damages, losses, costs, attorney's fees, or other expenses arising directly or indirectly from:

</p>
<ol>
    <li>
        Your breach of these Terms and Conditions.

</li>
<li>
    Your violation of the undertakings, representations, and provisions mentioned herein.

</li>
<li>
    Your activities in connection with this website.

</li>
</ol>
<h3>
    Contact
</h3>
      <ul>
        <li><span>Phone Number:</span> +91 9457652222</li>
        <li><span>Email Address:</span> info@veluraindia.com</li>
      </ul>
      <h3>Coupons and Discount</h3>
      <p>
        Velura (V M Organics) uses festive coupons and discounts to make
        customers enjoyable during festivals. These coupons can come in many
        forms, from a classic percentage off your entire order to free shipping
        or even a free gift with purchase. Velura might offer discounts to new
        customers for signing up or reward loyal ones with exclusive deals. By
        strategically using coupons and discounts, the site can attract new
        shoppers, encourage larger purchases, and keep customers coming back for
        more.
      </p>

      <h3>Disclaimer</h3>
      <p>
        Please be aware that while the company's website and logo may appear
        convincingly similar to fake websites or applications, the company does
        not promote investment opportunities or guarantee returns through those
        means. You are highly encouraged to proceed with extreme caution and
        reject such invites and offers as they are false and fraudulent
      </p>
    </div>
  </div>
</div>
